createdAt: "2020-03-24T17:04:29.690Z"
updatedAt: "2020-03-24T17:05:38.929Z"
type: "MARKDOWN_NOTE"
folder: "0e31593fed290d9573a9"
title: "Ivestigar"
tags: []
content: '''
  # Ivestigar
  
  <details open>
    <summary>
        Temas
    </summary>
    
    - [ ] Estandar de orden y código MySQL
  </details>
  
  
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
