createdAt: "2020-03-22T04:57:21.703Z"
updatedAt: "2020-03-22T04:57:37.253Z"
type: "MARKDOWN_NOTE"
folder: "0e31593fed290d9573a9"
title: "Ayuda markdown"
tags: []
content: '''
  # Ayuda markdown
  
  [markdown-cheatsheet-online.pdf](https://guides.github.com/pdfs/markdown-cheatsheet-online.pdf)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
