createdAt: "2020-06-03T21:20:38.435Z"
updatedAt: "2020-06-03T21:20:41.274Z"
type: "MARKDOWN_NOTE"
folder: "4641d9edd7f71dc1dfb4"
title: "Transacciones con Spring \\| CAFEBABE"
tags: []
content: "[Transacciones con Spring \\| CAFEBABE](https://igochan.wordpress.com/2013/03/25/transacciones-con-spring/)"
linesHighlighted: []
isStarred: false
isTrashed: false
