createdAt: "2020-03-24T17:04:29.690Z"
updatedAt: "2021-09-29T18:50:32.213Z"
type: "MARKDOWN_NOTE"
folder: "0e31593fed290d9573a9"
title: "Investigar"
tags: []
content: '''
  # Investigar
  
  <details open>
    <summary>
        Temas
    </summary>
    
    - [ ] Estandar de orden y código MySQL
  </details>
'''
linesHighlighted: []
isStarred: false
isTrashed: false
