createdAt: "2020-04-03T17:12:00.724Z"
updatedAt: "2020-04-05T03:22:10.497Z"
type: "MARKDOWN_NOTE"
folder: "dd6e78996a836dbc03a5"
title: "https://www.unicode.org/Public/emoji/13.0/emoji-test.txt"
tags: []
content: '''
  - https://www.unicode.org/Public/emoji/13.0/emoji-test.txt
  - [Index of /Public/emoji](https://www.unicode.org/Public/emoji/)
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
