createdAt: "2020-05-24T04:16:08.386Z"
updatedAt: "2020-05-24T04:16:15.816Z"
type: "MARKDOWN_NOTE"
folder: "4641d9edd7f71dc1dfb4"
title: "2 Datasources"
tags: []
content: '''
  # 2 Datasources
  [java - Spring Boot Configure and Use Two DataSources - Stack Overflow](https://stackoverflow.com/questions/30337582/spring-boot-configure-and-use-two-datasources)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
