createdAt: "2021-11-06T04:59:47.789Z"
updatedAt: "2021-11-06T04:59:49.693Z"
type: "MARKDOWN_NOTE"
folder: "880b575673e30b32f7ed"
title: "pacman archlinux arch linux"
tags: []
content: '''
  # pacman archlinux arch linux
  ```bash
  pacman -Qqe > pkglist.txt
  pacman -Qqem > foreignpkglist.txt
  ```
  
  # Paquetes instalados
  ```
  0ad
  7zip-bin
  acetoneiso2
  android-studio
  audacity
  autoconf
  automake
  balena-etcher
  bash
  binutils
  bison
  bluedevil
  bluez-utils
  boostnote
  brave-bin
  breeze-gtk
  btrfs-progs
  bzip2
  cabextract
  clipgrab
  cool-retro-term
  coreutils
  cpupower
  dbeaver
  devede
  dialog
  discover
  docker
  dolphin
  dosbox
  dosfstools
  drkonqi
  droidcam
  e2fsprogs
  efibootmgr
  exfat-utils
  fakeroot
  file
  filesystem
  findutils
  flameshot
  flex
  fpc
  freemind
  gawk
  gcc
  gcc-libs
  gdm
  gettext
  gimp
  git
  gitg
  github-desktop-bin
  gitstats-git
  glibc
  google-chrome
  google-cloud-sdk
  gparted
  grep
  groff
  grub
  gst-plugins-ugly
  gutenprint
  gvfs
  gvfs-mtp
  gvfs-smb
  gzip
  hardinfo
  htop
  inetutils
  intel-ucode
  intellij-idea-community-edition
  intellij-idea-ultimate-edition
  intellij-idea-ultimate-edition-jre
  iproute2
  iputils
  irssi
  jdk-openjdk
  jdk8-openjdk
  jdownloader2
  kde-applications-meta
  kde-gtk-config
  kdeplasma-addons
  kgamma5
  khotkeys
  kinfocenter
  konsole
  kscreen
  ksshaskpass
  ksysguard
  kwallet-pam
  kwayland-integration
  kwrited
  lib32-libpulse
  lib32-mpg123
  libtool
  libxshmfence
  licenses
  linux
  linux-firmware
  linux-headers
  lvm2
  m4
  make
  man-db
  man-pages
  maven
  minecraft-launcher
  nano
  neofetch
  networkmanager
  nmap
  npm
  ntfs-3g
  nvidia
  nvidia-settings
  nvidia-utils
  obs-studio
  openboard
  opera
  oxygen
  p7zip
  packagekit-qt5
  pacman
  pamac-all
  patch
  pavucontrol
  pciutils
  pidgin
  pkgconf
  plasma-browser-integration
  plasma-desktop
  plasma-disks
  plasma-firewall
  plasma-nm
  plasma-pa
  plasma-sdk
  plasma-systemmonitor
  plasma-thunderbolt
  plasma-vault
  plasma-workspace-wallpapers
  postman-bin
  powerdevil
  procps-ng
  psmisc
  pulseaudio
  pulseaudio-alsa
  pulseaudio-equalizer-ladspa
  pycharm-professional
  python-pip
  qdirstat
  rabbitmq
  sddm-kcm
  sed
  shadow
  simple-scan
  skanlite
  sshpass
  steam
  stella
  sudo
  swh-plugins
  systemd
  systemd-sysvcompat
  tar
  telegram-desktop
  texinfo
  ttf-dejavu
  unrar
  unzip
  util-linux
  uvicorn
  v4l2loopback-dkms
  vim
  violetumleditor
  virtualbox
  vscodium-bin
  wget
  which
  wine
  wireless_tools
  wpa_supplicant
  x11vnc
  xdg-desktop-portal-kde
  xdg-user-dirs
  xorg-bdftopcf
  xorg-iceauth
  xorg-mkfontscale
  xorg-server
  xorg-sessreg
  xorg-setxkbmap
  xorg-smproxy
  xorg-x11perf
  xorg-xauth
  xorg-xbacklight
  xorg-xcmsdb
  xorg-xcursorgen
  xorg-xdpyinfo
  xorg-xdriinfo
  xorg-xev
  xorg-xgamma
  xorg-xhost
  xorg-xinit
  xorg-xinput
  xorg-xkbcomp
  xorg-xkbevd
  xorg-xkbutils
  xorg-xkill
  xorg-xlsatoms
  xorg-xlsclients
  xorg-xmodmap
  xorg-xpr
  xorg-xprop
  xorg-xrandr
  xorg-xrdb
  xorg-xrefresh
  xorg-xset
  xorg-xsetroot
  xorg-xvinfo
  xorg-xwd
  xorg-xwininfo
  xorg-xwud
  xsane
  xterm
  xz
  yasm
  yay
  zsh
  zsh-syntax-highlighting
  
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: false
